@model rehber.Models.Entities.Sehir

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sil</h2>

<h3>Silmek İstediğinize Emin Misiniz?</h3>
<div>
    <h4>Şehir</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SehirAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SehirAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlakaKodu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlakaKodu)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")

        </div>
        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>@ViewBag.Notification</label>
            </div>
        </div>*@
    }
</div>
